﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@{
    var siteSection = Model.Content.AncestorOrSelf(2);
    var selection = siteSection.Children.Where(x => x.IsVisible());
}
<ul class="sub-menu">
@foreach (var item in selection)
{
    <li class="@(item.IsAncestorOrSelf(Model.Content) ? "is-active" : null)"><a href="@item.Url">@item.Name</a></li>
}
</ul>