﻿
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;

@using System.Collections.Generic;
@using ImageProcessor.Web



@{
    IPublishedContent homePage = Umbraco.AssignedContentItem.AncestorOrSelf("home");
    IPublishedContent articleList = homePage.Children.Where(x => x.DocumentTypeAlias == "teman" && x.IsVisible()).FirstOrDefault();
    IEnumerable<IPublishedContent> articles = articleList.Children.Where(x => x.IsVisible() && x.DocumentTypeAlias == "tema").OrderByDescending(x => x.GetPropertyValue<DateTime>("articleDate"));
    bool isHomePage = Umbraco.AssignedContentItem.Id == homePage.Id;
    int itemsToShow = isHomePage ? 4 : 99;


}

<div class="article-list">
    <div class="container">
        <div class="tema margin-bottom">
            @if (articles.Any())
            {
                <div class="columns">
                    <div class="column has-text-centered">
                        <span>Våra teman</span>
                    </div>
                </div>
                <div class="columns is-multiline">
                    @foreach (IPublishedContent item in articles.Take(itemsToShow))
                    {
                        string imageUrl = item.HasValue("HeaderImage") ? item.GetPropertyValue<IPublishedContent>("HeaderImage").Url : "";
                        string title = item.HasValue("title") ? item.GetPropertyValue<string>("title") : item.Name;
                        string description = item.GetPropertyValue<string>("PuffIngress");

                        var color = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("PuffColor"));
                        //var bgcolor=int.Parse(Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("PuffColor")));

                        <div class="column is-3 has-text-centered">
                            <div class="@color">
                                <figure class="has-text-centered ">
                                    <h3 class="is-size-4-mobile"><a href="@item.Url">@title</a></h3>
                                    <a href="@item.Url"><img class="img-responsive" src="@(imageUrl)?width=282&height=120&mode=crop&anchor=center"></a>
                                    <div class="padding20 infotext">
                                        <p class="infobox">@description</p>
                                        <a href="@item.Url" class="button is-outlined ">Läs mer</a>
                                    </div>
                                </figure>
                            </div>

                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>