﻿
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div id="accordion" class="accordion-container">
@{
    var typedMultiNodeTreePicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("cPListActivity");
    
    foreach (var item in typedMultiNodeTreePicker)
    {
        IEnumerable<ContentPage> ingress = item.GetPropertyValue<IEnumerable<ContentPage>>("ingress");
           <article class="accordion_container">
                <div class="accordion_head"><span class="plusminus">+</span>@item.Name</div>
            <div class="accordion_body" style="display: none;">
                <div class="box is-radiusless">
                 @item.GetPropertyValue("ingress")
                </div>
                </div>
            </article>
          
    }
}
</div>

