﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div id="accordion" class="accordion-container">
@{
    var typedMultiNodeTreePicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("cpListTema");
    var customPages=Umbraco.TypedMedia(typedMultiNodeTreePicker).Where(x => x != null);

    foreach (var item in customPages)
    {
        IEnumerable<ContentPage> ingress = item.GetPropertyValue<IEnumerable<ContentPage>>("ingress");
           <article class="accordion_container">
                <div class="accordion_head"><span class="plusminus">+</span>@item.Name</div>
            <div class="accordion_body" style="display: none;">
                <div class="box is-radiusless">
                    @item.GetPropertyValue("ingress")
                </div>
                </div>
            </article>
          
    }
}

</div>

