﻿@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Core
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    // Get basic design settings from the homepage
   ContentModels.Home home = Model.Content.Site() as ContentModels.Home;
     @*var colorTheme = Umbraco.GetPreValueAsString(home.ColorTheme);
    var font = Umbraco.GetPreValueAsString(home.Font);*@
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@Model.Content.Name - @home.Sitename</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/css/styles.min.css" rel="stylesheet" />
    <link rel="stylesheet" href='@Url.Content("~/css/styles.min.css")' />
    @RenderSection("Header", required: false)

</head>

<body>

    <div id="menu" class="is-hidden-mobile">
        <nav class="navbar toprow container">
            <div class="navbar-brand">
                <header class="header">
                    <div class="logo">
                        @if (home.SiteLogo != null && !string.IsNullOrEmpty(home.SiteLogo.Url))
                        {
                        <div class="nav-link--home">
                            <a href="@home.Url"><img class="logo-image" src="@home.SiteLogo.Url" alt="@home.Sitename" width="193"></a>
                        </div>
                        }
                        else
                        {
                        <a class="nav-link nav-link--home nav-link--home__text logo-text" href="/">@home.Sitename</a>
                        }
                    </div>
                </header>
            </div>
            <div class="container level is-mobile">
                <div class="level-item is-hidden-mobile  is-7">
                    <img title="Moten-konferens - Enkla, aktiva möten" src="~/images/moten_konferens_svart.png" width="360" alt="Moten-konferens - Enkla, aktiva möten ">
                </div>
                <div class="level-item is-hidden-mobile schwrp is-5">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <form action="/search/" method="GET">
                        <div id="search">
                            <input type="text" placeholder="Sök här..." name="query">
                            <button>SÖK</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="container nav is-hidden-mobile">
        <nav id="navigation" class="navbar navigation navigation-landscape is-hidden-mobile">
            <div class="navbar-end ">
                <div class="menu-container container">
                    <div class="main-menu">
                        @Html.Partial("~/Views/Partials/Navigation/TopNavigation.cshtml")
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <nav class="navbar is-hidden-desktop">
        <div class="navbar-brand">  <div class="navbar-item"><img id="__mcenew" src="/media/1055/logogkg.png?width=238&amp;height=37" alt="" width="200" height="25" data-udi="umb://media/293d8935aa664f5e869cc906de979020"></div></div>
    </nav>
    <div class="mmenu">
        <nav class="navbar  is-blue is-hidden-desktop" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img title="Moten-konferens - Enkla, aktiva möten" src="/media/1050/moten_konferens_vit.png" width="200" alt="Moten-konferens - Enkla, aktiva möten ">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

            </div>
        </nav>

        <div class="mobile-menu  is-hidden-desktop" id="navMenu">
            @Html.Partial("~/views/partials/navigation/topNavigation.cshtml")
        </div>
    </div>

    <main>
        @{Html.RenderAction("RenderHero", "SiteLayout");}  
        <div class="section">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </main>

    <footer class="footer ">
        <div class="container">
            <div class="sep">
                @Html.GetGridHtml(Model.Content.GetProperty("footerGrid", recurse: true), "Bootstrap3")
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src=" ~/scripts/umbraco-starterkit-app.js"></script>
    <script>
        $(document).on('scroll', function () {
            if ($(this).scrollTop() > 10) {
                $('#navigation').addClass('sticky');
                $('.mmenu').addClass('sticky');
                $('#show-logo').show().css('display', 'inline-block');
            }
            else {
                $('#navigation').removeClass('sticky');
                $('.mmenu').removeClass('sticky');
                $('#show-logo').hide();
            }
        });

        $('.navbar-burger').click(function () {
            $(this).toggleClass('bclose');
            $('#navMenu').slideToggle('fast');
        });
    </script>
</body>
</html>
