﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}


<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="is-size-2-desktop is-size-3-mobile">
                    @Model.Content.PageTitle
                </h1>
                <h4>
                    @Model.Content.Ingress
                </h4>
                @Model.Content.BodyText
            </div>
        </div>
        @Html.GetGridHtml(Model.Content, "bodyText", "bootstrap3-fluid")
    </div>
</section>