﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Tema>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	  Layout = "Master.cshtml";  
}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="submenuheader margin-top">
                    
                    @Umbraco.Field("titleSubmenu", altText:"Våra teman", recursive: true)
                </div>  
               @Html.Partial("Navigation/SubNavigation")
            </div>
            <div class="column is-6">
                <h2 class="is-size-2-desktop is-size-3-mobile">
                 @Model.Content.PageTitle 
                </h2>
                <h4>
                    @Model.Content.Ingress
                </h4>
                 @Model.Content.BodyText 
                <div class="columns ">
                    <div class="column is-6">
                        <h3>
                            <span class="subheader separator">  @Model.Content.TitleActivity</span>
                        </h3>
                        @Html.Partial("SiteLayout/_ListCustomPagesactivity")
                    </div>
                    <div class="column is-6">
                        <h3>
                            <span class="subheader separator">@Model.Content.TitleTema</span>
                        </h3>
                        @Html.Partial("SiteLayout/_ListCustomPages")

                    </div>
                </div>
                <div class="columns ">
                    <div class="column">
                        <div class='padding20 has-text-white @Umbraco.GetPreValueAsString(Model.Content.PuffColor)' >
                            @Umbraco.Field("ContantText", recursive: true)
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <h3>
                            <span class="subheader separator">@Model.Content.TitleImageArchive</span>
                        </h3>
@Html.Partial("SiteLayout/imgArchiveTema")
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <h3>
                    <span class="subheader margin-top">@Model.Content.TitlePackage</span>
                </h3>
                <div class="has-text-white padding @Umbraco.GetPreValueAsString(Model.Content.PuffColor)">
                   @Umbraco.Field("packageSuggestions")
                   
                </div>
            </div>

        </div>
    </div>
</section>
<script type="text/javascript">
  
        $(".accordion_head").click(function () {
            if ($('.accordion_body').is(':visible')) {
                $(".accordion_body").slideUp(300);
                $(".plusminus").text('+');
            }
            if ($(this).next(".accordion_body").is(':visible')) {
                $(this).next(".accordion_body").slideUp(300);
                $(this).children(".plusminus").text('+');
            } else {
                $(this).next(".accordion_body").slideDown(300);
                $(this).children(".plusminus").text('-');
            }
        });
     
        lightbox.option({
          'resizeDuration': 200,
          'maxWidth':1200,
          'wrapAround': true
        })
</script>
