﻿@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web;
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ 
    var startNodeId = Model.MacroParameters["startNodeId"] != null ? Model.MacroParameters["startNodeId"] : Model.Content.Id;
    var numberOfPosts = 4;
    if (Model.MacroParameters["numberOfPosts"] != null)
    {
        int.TryParse((string)Model.MacroParameters["numberOfPosts"], out numberOfPosts);
    }
}
@if (startNodeId != null)
{
    @* Get the starting page *@
    var startNode = Umbraco.TypedContent(startNodeId);
    var teman = startNode.Children.OrderByDescending(x => x.CreateDate).Take(numberOfPosts);

    if (teman.Any())
    {
    <div class=" margin-bottom anlaggning">
        <div class="columns">

            @foreach (ContentModels.Tema item in teman)
            {
                 string imageUrl = item.HasValue("HeaderImage") ? item.GetPropertyValue<IPublishedContent>("HeaderImage").Url : "";
                    string title = item.HasValue("title") ? item.GetPropertyValue<string>("title") : item.Name;
                    string description = item.GetPropertyValue<string>("PuffIngress");
                   
                    var color = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("PuffColor"));
                  //var bgcolor=int.Parse(Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("PuffColor")));

                    <div class="column is-3 has-text-centered">
                         <div class="lightgrey">
                            <figure class="has-text-centered ">   
                                <h3 class="is-size-4-mobile"><a href="@item.Url">@item.PuffHeader</a></h3>
                                 <a href="@item.Url" class="thin">@item.PuffSubHeader</a>
                                 <a href="@item.Url"><img class="img-responsive" src="@(imageUrl)?width=282&height=120&mode=crop&anchor=center"></a>
                                 <div class="padding20 infotext">
                                    <p class="infobox">@description</p>
                                    <a href="@item.Url" class="button is-outlined ">Läs mer</a>
                                </div>  
                            </figure>
                        </div>
                         
                    </div>
            }
        </div>
    </div>
    }
}
 