﻿@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web;
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@*<section class="section">
    <div class="container">
        <div class="tema margin-bottom">
            <div class="columns">
                   @foreach (ContentModels.Tema tema in Model.Content.Children)
                    {
                    var color = Umbraco.GetPreValueAsString(tema.PuffColor);
                    string imageUrl = tema.HasValue("PuffImage") ? (tema.PuffImage.Url) : "";
                    <div class="column is-3 has-text-centered has-text-white">
                         <div class="@color">
                            <figure class="has-text-centered ">   
                                <h3 class="is-size-4-mobile"><a href="@tema.Url">@tema.PageTitle</a></h3>
                                 <a href="@tema.Url"><img class="img-responsive" src="@(imageUrl)?width=282&height=120&mode=crop&anchor=center"></a>
                                 <div class="padding20 infotext">
                                    <p class="infobox">@tema.PuffIngress</p>
                                    <a href="@tema.Url" class="button is-outlined ">Läs mer</a>
                                </div>
                            </figure>
                        </div>
                    </div>
                } 
            </div>
        </div>
    </div>
</section>*@