﻿.anlaggning {
    @extend .tema;

    .lightgrey {
        height: 100%;
    }

    h3 {
        color: $darkblue;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        font-size:$size-4;
        width:auto!important;
    }

    color: $blacker;

    .thin {
        @extend .thin;
        text-transform: initial;
        margin-bottom: 1rem;
        display: inline-block;
    }

    a {
        color: $blacker;
    }

    .is-outlined {
        @extend .button;
        color: $blacker !important;
        border-color: $blacker !important;
    }
}
