﻿body {
    .mobile-menu {
        display: none;
        background:white;
    }

    #show-logo {
        display: none;
        line-height: 4.5rem;
        padding: .25rem 2rem;
        background-image: url('/images/moten_konferens_vit.png') !important;
        width: 200px;
        height: 33px;
        background-size: cover;
        background-repeat: no-repeat;
        margin: -0rem 2rem -0.75rem 2rem;
    }

    .main-menu .nav-link {
        margin: 2rem 0;
    }

    .margin-top-menu {
        margin-top: 20px;
    }

    .is-blue {
        background: $darkblue;
    }



    .mobile-menu {
        padding: 0.75rem;

        li {
            border-bottom: 1px solid $lightgrey;
            padding: 0.75rem 0.5rem !important;
        }

        li:last-child {
            border: none;
            padding-bottom: 0;
        }

        a {
            color: black;
            display: block;
        }
    }

    .navbar-burger {

        @extend .navbar-burger;
        height: 2rem;

        span:nth-child(1) {
            top: calc(50% - 6px) !important;
        }

        span:nth-child(2) {
            top: calc(50% - -5px) !important;
        }

        span:nth-child(3) {
            top: calc(50% + 16px) !important;
        }

        span {
            color: #fff;
            width: 2.5rem;
            height: .4rem;
            border-radius: .25rem;
            left: calc(50% - 20px);
        }
    }

    .navbar-burger.bclose span {

        &:nth-child(1), &:nth-child(3) {
            transform-origin: 20% 50%;
            top: 0;
            width: 3.25rem;
        }
        // rotate the lines to form the x shape
        &:nth-child(1) {
            transform: rotate3d(0,0,1,45deg);
        }

        &:nth-child(2) {
            background: transparent;
        }

        &:nth-child(3) {
            transform: rotate3d(0,0,1,-45deg);
        }
    }
    /*.bigHeader {
        font-family: "aisha-latin",sans-serif;
        font-size:5rem;
        color:$blacker;
        line-height:1;
        font-weight:700;
    }*/
    #search {
        border-bottom: solid 1px #ccc;
        display: block;

        input[type=text] {
            border: none;
        }

        button {
            background-color: $darkblue;
            color: white;
            border: none;
            border-radius: 3px;
        }
    }

    #navigation {
        background-color: $darkblue;
        }

        #navigation, .mmenu {
            &.sticky {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                z-index: 10;

                &.navbar {
                    display: block;
                }
            }
        }

        h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 1.25rem;
            width: initial;
            //font-style: italic;
            padding: 1rem 0 0.5rem 0;
        }

        .sub-menu {
            font-weight: 100;
            font-size: $size-7;

            a {
                color: $blacker;
            }

            li {
                line-height: 1.3rem;
                padding: 0.5rem 0.25rem;
                border-bottom: 1px solid $blacker;

                &.is-active {
                    font-weight: 700;
                }
            }
        }

        .hero {
            margin: 2rem 0rem 0;

            .bgHeader {
                margin: 0 auto;
                padding: 4rem 0;
                min-height: 15rem;

                h1 {
                    opacity: 1;
                }
            }
        }

        .hero-body {
            @extend .hero-body;
            padding-bottom: 9rem !important;
            padding-top: 9rem !important;
        }

        .tema, .anlaggning {
            .hero-body {
                @extend .hero-body;
                padding-bottom: 5rem !important;
                padding-top: 5rem !important;
            }
        }

        .menu-container {
            position: relative;
            transition: ease-in .3s ease;
        }

        .main-menu ul li:first-child {
            border-right: 1px solid white;

            a {
                border: none !important;
            }
        }

        .main-menu > ul {
            text-align: center;
            left: 0;
            right: 0;
            //height: 100%;
            width: 100%;


            > li {
                display: inline-block;
                /*float: left;
            padding: 0 20px 0 20px;
            line-height: 70px;
            margin: 0;
            list-style: none;
            position: relative;*/
                a {
                    color: white;
                    text-transform: uppercase;
                    line-height: 4.5rem;
                    padding: 0.25rem 2.0rem;
                    font-weight: 300;
                    border-right: 1px solid white;
                }
            }
        }
    }

    @media only screen and (max-width: 640px) {


        .hero-body {
            padding-bottom: 3rem !important;
            padding-top: 3rem !important;
        }
    }

    @media only screen and (min-width: 768px) {
        body {
            .hero .bgHeader {
                width: 66.6% !important;
            }
        }
    }
