﻿.imagegallery {
    margin-top: 1.5rem;

    a {
        margin: 0 1rem 0.75rem 0;
        display: inline-block;

        &:last-child, &:nth-child(3) {
            margin-right: 0 !important;
        }
    }
}

.thin {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.90rem;
}

.is-active a {
    font-weight: 700 !important;
}

.submenuheader {
    font-size: $size-4;
    font-weight: 700;
    @extend .separator;
}

.separator {
    border-bottom: solid 2px $blacker;
    display: block;
}

.has-text-white strong {
    color: #fff;
}

.subheader {
    color: $darkblue;
    font-weight: 700;
}

.contact {
    h3 {
        @extend h3;
        font-weight: 700 !important;
        padding: 0 !important;
    }

    p {
        font-weight: 100;
        font-size: 1.25rem;
    }
}

.tema {
    .blue, .green, .cerise, .orange, .green, .lightgrey {
        height: 100%;
    }

    font-size: 1.0rem;
    color: #fff;

    a {
        color: #fff;
    }

    h3 {
        font-size: 2.0rem;
        line-height: 90%;
        font-weight: 700;
        padding: 1rem 0;
        margin: 0 auto;
        font-family: "aisha-latin",sans-serif;
    }


    .is-outlined {
        @extend .button;
        color: white;
        border-color: white !important;
        background: none !important;
    }



    .padding {
        padding: 1rem;
    }



    .infobox {
        padding-bottom: 1.0rem;
        font-weight: 100;
    }
}

.padding20 {
    padding: 1.5rem;
}

@media only screen and (max-width: 640px) {
    body {
        h1 {
            line-height: 70%;
        }
        h4{
            line-height:150%;
        }
    }
}

@media only screen and (min-width: 768px) {
    body {
        .tema h3 {
            width: 3em;
        }

        .anlaggning h3{
            padding-bottom:0.5rem;
        }
    }
}
