﻿@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@import url("https://p.typekit.net/p.css?s=1&k=yrs4fid&ht=tk&f=26658.26660&a=6590410&app=typekit&e=css");

@font-face {
    font-family: "aisha-latin";
    src: url("https://use.typekit.net/af/96374f/00000000000000003b9ad4e7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/96374f/00000000000000003b9ad4e7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/96374f/00000000000000003b9ad4e7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "aisha-latin";
    src: url("https://use.typekit.net/af/9c62c8/00000000000000003b9ad527/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9c62c8/00000000000000003b9ad527/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9c62c8/00000000000000003b9ad527/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

.tk-aisha-latin {
    font-family: "aisha-latin",sans-serif;
}
