﻿@import "scss/utilities/initial-variables";
@import "scss/utilities/functions";
$cerise: hsl(309,58%,47%);
$blue: hsl(240,100%,73%);
$green: hsl(77,58%,47%);
$lightgrey: hsl(0,0%,87%);
$grey: hsl(0,0%,40%);
$silver: hsl(57,2%,59%);
$whiter: hsl(58,100%,100%);
$darkblue: hsl(218,25%,31%);
$blacker: hsl(0,0%,20%);
$orange: hsl(25,49%,48%);


@mixin vendor-prefix($name, $argument) {
    #{$name}: $argument;
    -webkit-#{$name}: $argument;
    -ms-#{$name}: $argument;
    -moz-#{$name}: $argument;
    -o-#{$name}: $argument;
}

html {


    .cm_default li {
        display: block;
    }

    #wd-top .ribbon-lang {
        //display: none;
    }

    #wd-menu * {
        box-sizing: initial !important;



        .icon {
            display: block;
        }
    }
}

body {
    font-family: 'Roboto', sans-serif;

    h1 {
        font-size: $size-1;
    }

    h2 {
        font-size: $size-3;
    }

    h3 {
        font-size: $size-4;
    }

    h4 {
        font-size: $size-6;
        font-weight: 700;
    }

    h5 {
        font-size: $size-5;
    }

    .line-height-50 {
        line-height: 0.5;
    }

    h1, h2 {
        color: $darkblue;
        font-weight: 700;
    }

    h1 {
        font-family: "aisha-latin",sans-serif;
    }

    h3 {
        font-weight: 300;
    }

    .footer {
        font-weight: 300;
        font-size: 0.75rem;
        padding:1rem;
    }

    p {
        line-height: 1.3rem;
    }

    .content .table &.is-narrow td {
        border: none !important;
    }

    .table tr.is-selected {

        @extend table;
        background-color: $grey;
    }

    .is-outlined {
        @extend.button;
        border-radius: 30px !important;
        border-color: black !important;
        font-size: 0.75rem !important;
        padding: 1.0rem 3.25rem !important
    }


    .padding {
        padding: 1.0rem;
    }


    .no-padding {
        padding: 0 !important;
    }

    .sep {
        border-top: solid 1px $blacker;
        padding: 3rem 0;
    }

    .whiter {
        background-color: $whiter;
    }

    .blue {
        background-color: $blue;
    }

    .grey {
        background-color: $grey;
    }

    .silver {
        background-color: $silver;
    }

    .green {
        background-color: $green;
    }

    .cerise {
        background-color: $cerise;
    }

    .orange {
        background-color: $orange;
    }



    .blacker {
        background-color: $blacker;
    }

    .lightgrey {
        background-color: $lightgrey;
    }

    .darkblue {
        background-color: $darkblue;
    }
    /*.opactity-orange, .opacity-darkblue, .opacity-cerise, .opacity-green, .opacity-lightgrey, .opacity-silver, opacity-blue, .opacity-grey, .opacity-blacker {
        opacity: 0.5;
    }*/
    .opacity-darkblue {
        background-color: hsla(218,25%,31%,0.5);
    }

    .opacity-blue {
        background-color: hsla(240,100%,73%,0.5);
    }

    .opacity-silver {
        background-color: hsla(57,2%,59%,0.5);
    }

    .opacity-lightgrey {
        background-color: hsla(0,0%,87%,0.5);
    }

    .opacity-blacker {
        background-color: hsla(0,0%,20%,0.5);
    }

    .opacity-grey {
        background-color: hsla(0,0%,40%,0.5);
    }

    .opacity-orange {
        background-color: hsla(25,59%,48%,0.5);
    }

    .opacity-cerise {
        background-color: rgba(189,50,106,.3);
    }

    .opacity-green {
        background-color: hsla(77,58%,47%,0.5);
    }

    .section-start {
        padding: 2rem 1.5rem 0 1.5rem;
    }

    .section {
        padding: 3rem 0.5rem;
    }

    .mtb {
        padding-bottom: 2rem;
    }

    .margin-bottom {
        margin-bottom: 3.0rem;
    }

    .margin-top {
        margin-top: 1.25rem;
    }

    .margin-top-05 {
        margin-top: 1.5rem;
    }

    #pagewrap .button {
        margin: 10px 0;
    }

    .inedit .button {
        &.is-primary {
            display: inline-block !important;
            padding: 0.5rem 1rem 2rem 1rem !important
        }
    }



    &.is-medium {
        font-size: 1rem;
        padding: 1.3rem 2.0rem;
    }

    &.is-white {
        color: #244b70;
        font-style: normal;
        border-radius: 1px;
    }


    .navbar {
        background: none;
    }

    .footer {
        background: white;
        // color: $white;
    }
}

@media only screen and (max-width: 768px) {
    body {
        .button {
            &.is-medium {
                font-size: 1rem;
                padding: 1.3rem 1.7rem;
            }
        }

        .section {
            padding: 1.0rem;
        }
    }
}

@media only screen and (max-width: 640px) {
    body {
        .mtb {
            margin-bottom: 0;
            margin-top: 0;
        }

        .section {
            padding: 1.0rem 0.25rem;
        }

        .margin-bottom {
            margin-bottom: 1.5rem;
        }

        h1, h2, h3, h4, h5 {
            line-height: 100%;
        }

        .content {
            h1, h2, h3, h4, h5 {
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media only screen and (min-width: 1408px) {
    body {
        .columns column:first-child {
            margin-left: auto;
        }
    }
}
